body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

.box {
    margin-top: 100px;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
}
